<ion-header>
  <ion-toolbar color="danger">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <div class="center">
    <h1>Registrarse</h1>
  </div>
  <form>

    <ion-list>

      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input autocomplete="off" name="username" type="text" [(ngModel)]="postData.username"></ion-input>
      </ion-item>

        <ion-item>
          <ion-label position="stacked">Clave</ion-label>
          <ion-input autocomplete="off" name="clave" type="password" [(ngModel)]="postData.clave "></ion-input> 
        </ion-item>

        <ion-item>
          No tienes una cuenta? <a routerLink="/signup">Crear cuenta</a>
          
        </ion-item>

        <ion-item>
          No quiero logearme <a routerLink="/home/feed">No logearse</a>
        </ion-item>


        <ion-button expand="block" share="round" color="success" (click)="ingresar()">Ingresar</ion-button>

    </ion-list>
  </form>
</ion-content>
